<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--
        Enable Fallback Buttons: RequiresAdministrator: Determines if the user needs to be a sitecore administrator to execute the commands.
        Default: true
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.RequiresAdministrator" value="true"/>

      <!--
        Enable Fallback Buttons: ItemNames.StandardValues: Gets the name of a standard values item.
        Default: __Standard Values
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.ItemNames.StandardValues" value="__Standard Values"/>

      <!--
        Enable Fallback Buttons: TemplateFieldID: Returns the ID of the item: /sitecore/templates/System/Templates/Template field
        Default: {455A3E98-A627-4B40-8035-E683A0331AC7}
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.TemplateIDs.Template" value="{455A3E98-A627-4B40-8035-E683A0331AC7}"/>

      <!--
        Enable Fallback Buttons: EnableSharedLanguageFallbackID: returns the of the item: /sitecore/templates/System/Templates/Template field/Data/Enable Shared Language Fallback
        Default: {24CB32F0-E364-4F37-B400-0F2899097B5B}
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.TemplateFieldIds.EnableSharedLanguageFallback" value="{24CB32F0-E364-4F37-B400-0F2899097B5B}"/>

      <!--
        Enable Fallback Buttons: EnableItemFallback: returns the ID of the Item: /sitecore/templates/System/Templates/Sections/Advanced/Advanced/__Enable item fallback
        Default: {FD4E2050-186C-4375-8B99-E8A85DD7436E}
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.TemplateFieldIds.EnableItemFallback" value="{FD4E2050-186C-4375-8B99-E8A85DD7436E}"/>


      <!--
        Enable Fallback Buttons: Enforce version presence: returns the ID of the item: /sitecore/templates/System/Templates/Sections/Advanced/Advanced/__Enforce version presence
      -->
      <setting name="LanguageFallbackTools.Fallback.MultilingualTemplateCommand.TemplateFieldIds.EnforceVersionPresence" value="{61CF7151-0CBD-4DB4-9738-D753A55A6E65}"/>

    </settings>

    <commands>

      <!-- Enable Fallback Buttons: ItemFallback -->
      <command name="languagefallback:CheckEnableItemLanguageFallback"
               type="LanguageFallbackTools.Fallback.EnableItemLanguageFallbackCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnableItemLanguageFallback"
                     type="LanguageFallbackTools.Fallback.DisableItemLanguageFallbackCommand, LanguageFallbackTools"/>

      <!-- Enable Fallback Buttons: FieldLevelFallback -->
      <command name="languagefallback:CheckEnableFieldLevelFallback"
               type="LanguageFallbackTools.Fallback.EnableFieldLevelFallbackCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnableFieldLevelFallback"
              type="LanguageFallbackTools.Fallback.DisableFieldLevelFallbackCommand, LanguageFallbackTools"/>


      <!-- Enable Fallback Buttons: Enforce Version Presence -->
      <command name="languagefallback:CheckEnforceVersionPresence"
               type="LanguageFallbackTools.Fallback.EnableEnforceVersionPresenceCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnforceVersionPresence"
               type="LanguageFallbackTools.Fallback.DisableEnforceVersionPresenceCommand, LanguageFallbackTools"/>

    </commands>


  </sitecore>

</configuration>

