<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <commands>

      <!-- Enable Fallback Buttons: ItemFallback -->
      <command name="languagefallback:CheckEnableItemLanguageFallback"
               type="LanguageFallbackTools.Fallback.EnableItemLanguageFallbackCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnableItemLanguageFallback"
                     type="LanguageFallbackTools.Fallback.DisableItemLanguageFallbackCommand, LanguageFallbackTools"/>

      <!-- Enable Fallback Buttons: FieldLevelFallback -->
      <command name="languagefallback:CheckEnableFieldLevelFallback"
               type="LanguageFallbackTools.Fallback.EnableFieldLevelFallbackCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnableFieldLevelFallback"
              type="LanguageFallbackTools.Fallback.DisableFieldLevelFallbackCommand, LanguageFallbackTools"/>


      <!-- Enable Fallback Buttons: Enforce Version Presence -->
      <command name="languagefallback:CheckEnforceVersionPresence"
               type="LanguageFallbackTools.Fallback.EnableEnforceVersionPresenceCommand, LanguageFallbackTools"/>

      <command name="languagefallback:UncheckEnforceVersionPresence"
               type="LanguageFallbackTools.Fallback.DisableEnforceVersionPresenceCommand, LanguageFallbackTools"/>

    </commands>

  </sitecore>

</configuration>